streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq
faiss-cpu
sentence-transformers
transformers
torch
pymupdf
pypdf
python-dotenv
fastapi
pydantic